main {
  position: relative;
  top: 25vh;
  width: 85vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin-left: auto;
  margin-right: auto;
}

.rock-paper-scissors {
  border: 0.1vw red solid;
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.rock-paper-scissors > .rules > img {
  position: relative;
  top: 7%;
}
.rock-paper-scissors > div {
  border: 0.1vw black solid;
}
.rock-paper-scissors > .choice {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.rock-paper-scissors > .choice > .buttons {
  border: black 1px solid;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.rock-paper-scissors > .choice > .text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.rock-paper-scissors > .computer > img {
  width: 70%;
  position: relative;
  left: 12%;
  top: 12%;
}
.rock-paper-scissors > .result {
  display: grid;
  grid-row: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

/* .memory-game table,tbody,tr,th,td {
margin: 5px;
}
 */

 .memory-game {
  display: flex;
  flex-wrap: wrap;
  width: 408px;
  height: 408px;
 }
 .image {
  margin: 1px;
  width: 100px;
  height: 100px;
  background-color: green;
 }
 .img {
  height: 100%;
  width: 100%;
 }
 .img-hidden {
  opacity: 0;
 }
 .img-shown {
  opacity: 1;
 }
 .img-valid {
  opacity: 0.5;
 }